.styled-table {
    width: 100%;
    border:2px;
    border-style: solid;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);											
}

.styled-table thead th {
    font-size: 14px;
    border: 2px solid;
    vertical-align: middle;
    text-align: center;
    background-color: lightgrey;
    padding: 5px;
}

.styled-table tbody td {
    line-height: normal;
    font-size: 14px;
}

.styled-table tbody td.center {
    text-align: center;
    width: 10%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.styled-table tbody tr {
    border-bottom: 1px solid black;
    height: 10px;
}

.style-imgs {
    text-align: center;
}

.p_format{
    background-color: beige;
    width: 100%;
    line-height: normal;
    padding: 10px;
    font-weight: bold;
}

.mark-blue{
    color: blue;
}

.mark-green{
    color:green;
}

.mark-grey{
    color:grey;
}

.mark-orange{
    color:orange;
}

.tab_20{
    margin-left: 20px;
}

.tab_40{
    margin-left: 40px;
}

.tab_60{
    margin-left: 60px;
}

.tab_80{
    margin-left: 80px;
}


.p_plain_format{
    line-height: normal;
}

.p_plain_format mark{
    font-style: italic;
    font-weight: bold;
}


